.dash-container {
    height: inherit;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: column;   
}

h1 {
    background-color: yellow;
}

main {
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 80px;
}