.dash-container {
    height: inherit;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;   
}

.dash-header {
    background-color: black;
    color: white;
}

main {
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 80px;
}


.dm-window {
    background-color: red;
    position: fixed;
    top: 0;
    right: -50%;
    width: 80vw;
    height: 100%;
    transition: all 0.3s;
    z-index: 1000;
}

.dm-window.hidden{
    right: -100%;

}