.dm-page-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto 1fr auto;
    background-color: white;;

}

h1 {
    background-color: black;
    color: white;
}

.message-container {
    display: flex;
    background-color: white;
    color: black
}

.input-container {
    height: 3.5rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

#message {
    flex-grow: 2;
    height: 2.5rem;
}

#send {
    flex-grow: 1;
    height: 2.5rem;
}