.dm-page-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto minmax(0, 1fr) auto;
    background-color: white;
    /* display: flex; */
    /* flex-direction: column; */

}

h1 {
    background-color: black;
    color: white;
}

.message-container {
    display: flex;
    background-color: white;
    color: black
}

#message-form {
    height: 5rem;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#message {
    flex-grow: 2;
}
#send {
    flex-grow: 1;
    color: black;
    background-color: white;
}


.messages-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; <<<<this was causing the container to not be scrollable*/
    gap: 2rem;
    overflow-y: scroll;
  
}

.user-input-section {
    display: flex;
    flex-direction:row;

}

.user-input{
    flex-grow:1;
}
