.dm-page-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: auto 1fr auto;

}

h1 {
    background-color: black;
    color: white;
}

.message-container {
    display: flex;
    background-color: white;
    color: black
}

.input-container {
    height: 80px;
    background-color: black;
    color: white;
}