.dms-container {
    display: flex;
    flex-direction: column;
}

.dm-container {
    display: flex;
    /* padding: 1px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    gap: 0.5rem;
}

.dm-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    display: flex;
    background-color: purple;
    height: 60px;
    width: 60px;
    align-items: center;
    border-radius: 50%;
    justify-content:center;
    /* padding: 1.5rem; */
   
}

.avatar p {
    /* font-weight:bold; */
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    font-weight: 600;
}



.receiver, .last-message {
    text-decoration: none;
    color: black;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
}

.last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
    font-size: 12px;
    color: #757575;
}

.background-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 999;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

/* button {
    position: fixed;
    top:0;
    right: 0;
    height: 20px;
    width: 20px;
} */
