.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
}

.navbar li a {
    text-decoration: none;
    color: white;
}