

.users-window {
    border-style: solid;
    position: absolute;
    /* transform: translate(50%, 50%); */
    top: 20%;
    z-index: 1000;
    height: 50%;
    width: 80%;
    display: flex;
    background: white;
    align-self: center;
    flex-direction: column;
}

.new-message-header {
    display: flex; 
    justify-content: space-between;
    
}